<% content_for :header_links do %>
  <a class="add" href="<%= Route.create_todo_list %>">
    <%= @message.ui :new_list %>
  </a>
<% end %>

<ul id="lists">

  <% all_lists.each do |list| %>
    <li class="<%= list_completion_class list %> todo-list">
      <a href="<%= Route.view_list list[:id] %>">
        <h2><%= list[:name] %></h2>
        <p><%= list[:todos_remaining_count] %> / <%= list[:todos_count] %></p>
      </a>
    </li>
  <% end %>

</ul>
